@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao cadastro de funcionários</h1>
    <h3 class="display-4"> Clique em Cadastrar no menu Acima</h3>
</div>
